 body { 
margin:0 auto; 
padding: 0 auto;
height: 100%; 

} 

/*контейнер-центровщик, не более*/ 
.container-header { 
outline: 5px solid blue; 
width: 68%; 
margin: 0 auto;
min-height: 1350px;

} 

header { 
background: url(img/header.jpg); 
background-size: 100% 100%; 
background-repeat: no-repeat; 
outline: 1px solid black; 
} 

.header-top {
	display: flex;
	justify-content: space-between;
	outline: 1px solid black;
}

.logo {
	outline: 1px solid black;
}

.main-nav {
	outline: 1px solid black;
	display: flex;
	flex-grow:0.3;
	padding: 1%;
}

.main-menu {
	display: flex;
	flex-basis: 100%;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	outline: 1px solid black;
	margin-right: 10px;
	text-transform: uppercase;
}

.main-menu li {
	font-size: 14pt; 
	list-style: none;
}

.main-menu li a {
	text-decoration: none;
	color:#263742;
	font-family:"Montserrat", regular; 
}

.soc-btn {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.soc-btn a {
	outline: 1px solid black;
}


.header-title {
	outline: 1px solid black;
	margin-top: 30%;
	color:#314a5b;
}

.main-title {
	font-family:"Montserrat", bold; 
	text-transform: uppercase;
	font-size: 48pt;
}

.note-title {
	margin-top: -3%;
	font-family:"Open Sans", regular;
	font-size: 20pt;
	color:#314a5b;
}
.main-title span {
	color:#fa5c65;
}

.read-more {
	margin-top: 5%;

}
.read-more button {
	color: white;
	font-size: 15pt;
	background-color:#fa5c65;
	border: 1px solid #fa5c65;
	border-radius:5%;
	padding: 2%;
	min-width: 18%;
}

.main-container {
	outline: 5px solid green;
    width: 68%; 
    margin: 0 auto;
}

.feature-row {
	outline: 1px solid red;
	display: flex;
	width: 100%;
}

.feature-row span {
	color:#fa5c65;
}

.feature-column {
	outline: 1px solid black;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.feature-column h3 {
	font-family:"Montserrat", bold; 
	text-transform: uppercase;
	color:#314a5b;
	font-size: 26pt;
}

.feature-column p {
	font-size:15pt;
	font-family:"Open Sans", regular;
	color:#9aa0ab;

}

.feature-column a {
	outline: 1px solid black;
	color:#fa5c65;
	text-decoration: none;
	font-family:"Montserrat", regular; 
	text-transform: uppercase;
	font-size: 14pt;
}

.portfolio { 
display: flex; 
outline: 1px solid black; 
justify-content: space-between; 
flex-shrink: 2;
} 

.column-left { 
outline: 1px solid red; 
flex-shrink: 2;
flex-wrap: wrap;
} 

.column-right { 
outline: 1px solid blue; 
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-content: flex-end;
justify-content: space-between;
flex-shrink: 2;

} 

.column-right h2 { 
font-family:"Montserrat", bold; 
text-transform: uppercase; 
color:#314a5b; 
font-size: 20pt;
margin-bottom: 0;
/*указал размер загаловка меньше, по причине того, что он состоит из одного слова, а потому переносить его - плохо*/
} 
.column-right p { 
font-size:15pt; 
font-family:"Open Sans", regular; 
color:#9aa0ab; 
outline: 1px solid black;
}

.column-right span {
    font-size: 30pt;
    color:#fa5c65;
}

.column-right p:nth-child(2){
	margin-top: -3%;
	font-family:"Open Sans", regular;
	font-size: 16pt;
	color:#314a5b;
	outline: 1px solid black;

}
.column-right a {
	outline: 1px solid black;
	color:#fa5c65;
	text-decoration: none;
	font-family:"Montserrat", regular; 
	text-transform: uppercase;
	font-size: 14pt;
}


.flex-container {
	display: flex;
	outline: 1 px solid red;
	justify-content: space-between;
}
.our-developers {
	outline:1px solid black;
	display: flex;
	justify-content: space-between;
}
.information {
	outline: 1px solid black;
}

.information h3 {
	font-size: 1.5em;
	font-family:"Montserrat", bold; 
	color:red;
	margin-bottom: 1%;
}

.information a {
	color:#fa5c65;
	text-decoration: none;
	font-family:"Montserrat", regular; 
	font-size: 1em;
}

.information p {
    font-family:"Open Sans", regular;
	font-size: 0.9em;
	color:#314a5b;
}

.more {
	display: flex;
	justify-content: flex-end;
	margin-top: 2%;
}

.more a {
	color:#fa5c65;
	text-decoration: none;
	font-family:"Montserrat", regular; 
	text-transform: uppercase;
	font-size: 14pt;
	margin-right: 3%;
}

.footer-container {
	outline: 5px solid red;
    width: 68%; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.social-btn-footer {
	outline: 1px solid black;
}

.footer-copyright {
	outline: 1px solid black;
}

.footer-copyright p {
	margin: 0;
}

